body {
    font-family: 'Poppins', sans-serif;
}



.inline-form input[type="submit"]:hover {
    background-color: #4a565f;
}
form {
    margin-top: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
}


input[type="text"] {
    flex: 1;
    padding: 10px;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(192, 242, 255);
    outline: none;
    transition: all 0.3s;
    caret-color: #56D6F5;
    background-color: rgb(39, 67, 74);
}

input[type="text"]:focus {
    background-color: rgb(208, 245, 255);
}


input[type="number"] {
    flex: 1;
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(192, 242, 255);
    outline: none;
    transition: all 0.3s;
    caret-color: #56D6F5;
    background-color: rgb(39, 67, 74);
}

input[type="number"]:focus {
    background-color: rgb(208, 245, 255);
    color: rgb(39, 67, 74);
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background:rgba(24, 112, 134, 0.205);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #E1F9FF;
}

.i1nput,
select {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-section {
    margin-bottom: 20px;
}

.add-button {
    display: inline-block;
    background-color: #28a745;
}

.add-button:hover {
    background-color: #218838;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}