body {
    font-family: 'Poppins', sans-serif;
}

.error {
    color: red;
    font-size: 14px;
}

.success {
    color: green;
    font-size: 14px;
}

.progress-container {
    width: 100%;
    background: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #33bfe4;
    border-radius: 5px;
}

.progress-text {
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 20px;
    height: 100%;
}